/* Añadimos una fuente más moderna */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
   
    background-color: #f4f4f9;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

/* Estilos para la cabecera */
header.jumbotron {
    
    background-color: #007bff;
    color: white;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

h1, h2 {
    color: #ff5733;
}

.navbar-light .navbar-nav .nav-link {
    color: #007bff;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ff5733;
}

.container {
    margin-bottom: 2rem;
}

.btn-primary {
    background-color: #ff5733;
    border-color: #ff5733;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #ff4500;
    border-color: #ff4500;
}

/* Estilos para las tarjetas de servicios */
.card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card-header .btn {
    text-align: left;
    width: 100%;
}

.carousel-item .testimonial {
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #007bff;
}

/* Estilos para el pie de página */
footer {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.footer p {
    margin: 0;
}

.card-body ul {
    list-style-type: none;
    padding: 0;
}

.card-body ul li {
    margin-bottom: 0.5rem;
}
.navbar-brand img {
    height: 100px;
    /* Puedes ajustar más estilos según sea necesario */
}

#google_translate_element {
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
} 